/* * {
  box-sizing: border-box;
} */
#t1,
#t2,
#t3,
#t4,
#t5,
#t6,
#t7,
#t8,
#t9 {
  background-color: rgb(177, 177, 177);
  width: 30px;
  height: 30px;
  border-left: 1px solid rgb(231, 231, 231);
  border-top: 1px solid rgb(231, 231, 231);
  border-right: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  display: inline-block;
}

#t1 {
  background-image: url("mine30px.png");
}
