/* * {
  box-sizing: border-box;
} */

.tile {
  background-color: rgb(177, 177, 177);
  width: 30px;
  height: 30px;
  border-left: 3px solid rgb(231, 231, 231);
  border-top: 3px solid rgb(231, 231, 231);
  border-right: 3px solid rgb(80, 80, 80);
  border-bottom: 3px solid rgb(80, 80, 80);
  display: inline-block;
  overflow: hidden;
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: 940;
  text-align: center;
}
.divRow {
  margin: -4px;
}

.container {
  border: 10px solid rgb(177, 177, 177);
  display: inline-block;
  background-color: rgb(177, 177, 177);
}

body {
  padding: 30px;
}

#emoji {
  display: block;
  width: 60px;
  height: 60px;
  border-left: 3px solid rgb(231, 231, 231);
  border-top: 3px solid rgb(231, 231, 231);
  border-right: 3px solid rgb(80, 80, 80);
  border-bottom: 3px solid rgb(80, 80, 80);
  background-image: url("smiley.png");
  margin: auto;
  margin-bottom: 15px;
}

.form {
  display: inline-block;
}
#inputRow,
#inputCol,
#submit {
  display: block;
}
.span {
  display: inline;
}
